---
title: "Nossos Cursos de Robótica e Programação"
description: "Cursos projetados e adaptados por faixa etária. Desde a lógica básica de programação até o desenvolvimento de software e hardware real."
pageId: "courses"
layout: layouts/courses.njk
---
