---
title: "Programação e Robótica Educativa para Crianças"
description: "Aulas dinâmicas e divertidas de programação e robótica para crianças e jovens de 6 a 16 anos. Incentivamos o pensamento computacional."
pageId: "home"
layout: layouts/home.njk
---
