---
title: "Nossa Metodologia de Aprendizagem"
description: "Metodologia baseada em projetos e aprendizagem ativa (STEM). Fomentamos a curiosidade e a experimentação em robótica e programação."
pageId: "methodology"
layout: layouts/methodology.njk
---
