---
title: "Quem Somos - Sobre Nós"
description: "Conheça a codear.la, uma iniciativa dedicada a transformar a relação das crianças com a tecnologia, potencializando criadores e inventores."
pageId: "about"
layout: layouts/about.njk
---
