{% if redirect === undefined %}
  {% set redirect = helpers.getObjectProperty(routes[lang].redirects, pageId) %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url={{ redirect }}">
    <title>Redirecting...</title>
    <script>
    window.location.href = "{{ redirect }}";
    </script>
  </head>
  <body>
    <p>Redirecting to <a href="{{ redirect }}">Registration Form</a>...</p>
  </body>
</html>
