---
title: "About Us - Who We Are"
description: "Meet codear.la, an initiative dedicated to transforming children's relationship with technology, fostering creators and inventors."
pageId: "about"
layout: layouts/about.njk
---
