---
title: "Our Learning Methodology"
description: "Project-based methodology and active learning (STEM). We foster curiosity and experimentation in robotics and programming."
pageId: "methodology"
layout: layouts/methodology.njk
---
