---
title: "Nuestros Cursos de Robótica y Programación"
description: "Cursos diseñados y adaptados por edades. Desde la lógica básica de programación hasta el desarrollo de software y hardware real."
pageId: "courses"
layout: layouts/courses.njk
---
