---
title: "Programación y Robótica Educativa para Niños"
description: "Clases dinámicas y divertidas de programación y robótica para niños y jóvenes de 6 a 16 años. Fomentamos el pensamiento computacional."
pageId: "home"
layout: layouts/home.njk
---
