---
title: "Nuestra Metodología de Aprendizaje"
description: "Metodología basada en proyectos y aprendizaje activo (STEM). Fomentamos la curiosidad y la experimentación en robótica y programación."
pageId: "methodology"
layout: layouts/methodology.njk
---
