---
title: "Quiénes Somos - Sobre Nosotros"
description: "Conoce codear.la, una iniciativa dedicada a transformar la relación de los niños con la tecnología, potenciando creadores e inventores."
pageId: "about"
layout: layouts/about.njk
---
